/* Nav */
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #212121;
  color: white;
  height: 72px;
  width: 100%;
  box-shadow: 1px 5px 14px -4px rgba(0,0,0,0.3);
  position: relative;
}

.navigation a {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

body {
	font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #efefef;
  font-family: 'Roboto Slab', serif;
}

.body-container {
  max-width: 980px;
  padding: 32px;
  margin: auto;
  background-color: white;
  box-shadow: 1px 5px 14px -4px rgba(0,0,0,0.3);
}

.viz-and-legend-container {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid #dedede; */
  /* background-color: #f9f9f9; */
}

.viz-container {
  overflow-x: hidden;
}

.legend-container {
  width: 116px;
  min-width: 116px;
  display: none;
}

.legend-container ul {
  padding-top: 16px;
  padding-left: 0px;
  padding-right: 16px;
}

.legend-dot {
  display: inline-block;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #efefef;
}

.title-container {
  text-align: center;
}

.text-block-center {
  padding: 24px;
  max-width: 640px;
  line-height: 26px;
  margin: auto;
}

.text-block-center_viz-title {
  padding-bottom: 0;
  text-align: center;
}

h1 {
	margin-top: 24px;
  margin-bottom: 0;
  text-transform: capitalize;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
}

.sub-title {
  margin-top: 4px;
}

p.subtitle {
	margin-top: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells :hover circle {
  stroke: black;
  stroke-width: 2px;
  cursor: pointer;
}

/* .circle {
  stroke: black;
  stroke-width: 1px;
} */

.tooltip-dot {
  display: inline-block;
  margin-right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #efefef;
}

/* Circle colors */

.circle-Actinopterygii {
  fill: #4E79A7;
  background-color: #4E79A7;
}

.circle-Amphibia {
  fill: #F28E2B;
  background-color: #F28E2B;
}

.circle-Asteroidea {
  fill: #E15759;
  background-color: #E15759;
}

.circle-Aves {
  fill: #76B7B2;
  background-color: #76B7B2;
}

.circle-Bivalvia {
  fill: #59A14F;
  background-color: #59A14F;
}

.circle-Insecta {
  fill: #EDC948;
  background-color: #EDC948;
}

.circle-Mammalia {
  fill: #B07AA1;
  background-color: #B07AA1;
}

.circle-Reptilia {
  fill: #B6992D;
  background-color: #B6992D;
}

/* Animal icons */

.icon-Actinopterygii {
  background-image: url("icons/actinopterygii.svg");
  background-size: 50px 50px;
}

.icon-Amphibia {
  background-image: url("icons/amphibia.svg");
  background-size: 50px 50px;
}

.icon-Asteroidea {
  background-image: url("icons/asteroidea.svg");
  background-size: 50px 50px;
}

.icon-Aves {
  background-image: url("icons/aves.svg");
  background-size: 50px 50px;
}

.icon-Bivalvia {
  background-image: url("icons/bivalvia.svg");
  background-size: 50px 50px;
}

.icon-Insecta {
  background-image: url("icons/insecta.svg");
  background-size: 50px 50px;
}

.icon-Mammalia {
  background-image: url("icons/mammalia.svg");
  background-size: 50px 50px;
}

.icon-Reptilia {
  background-image: url("icons/reptilia.svg");
  background-size: 50px 50px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #ededed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  pointer-events: none;
  text-transform: capitalize;
}

circle.active {
  stroke: black;
  stroke-width: 2px;
}

div.infopanel {
  max-width: 640px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
}

div.portrait {
  width: 150px;
  max-height: 220px;
  min-height: 80px;
  margin-right: 24px;
  /* border: 1px solid #dedede; */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.portraitimg {
  display: block;
  margin: auto;
  width: 100%;
}

.mtn {
  margin-top: 0px !important;
}

.mbm {
  margin-bottom: 16px;
}

ul {
  list-style: none;
}

li {
  font-size: 12px;
  line-height: 18px;
}

li span {
  margin-top: 2px;
}

.resources {
  margin-top: 40px;
  font-size: 12px;
}

.resources ul {
  margin: 0;
  padding-left: 0;
}

.debug {
  border: 1px solid red;
}